<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Design Event MBOSS.US</title>
  <link rel="icon" href="https://i.ibb.co/CM7x3FX/1628329259246.png" />


<meta name="description" content="A simple HTML5 Template for new projects.">
  <meta name="author" content="Maricla Kandzorra Martelli">

  <meta property="og:title" content="A Basic HTML5 Template">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
  <meta property="og:description" content="A simple HTML5 Template for new projects.">




</head>      

<body>  
        <div className='flex py-7 pr-4 px-2 border-b rounded-2xl cursor-pointer hover:opacity-80 hover:shadow-lg transition duration-200 ease-out first:border-t' >
			{/*Left*/}
            <div className='relative h-24 w-40 md:h-52 md:w-80 m-8 flex-shrink-0 '>
        
                <Image src={img} 
                    layout='fill'
                    objectFit='cover'
					className='rounded-2xl'
                />
            </div>
			
			{/*Right*/}
            <div className='flex flex-col flex-grow pl-5'>
                <div className='flex justify-between'>
                    <p>{location}</p>
                    <HeartIcon className='h-7 cursor-pointer' />                
				</div>
				
				<h4 className='text-xl'>{title}</h4>
				<div className='border-b w-10 pt-2' />
				<p className='pt-2 text-sm text-gray-500 flex-grow'>{description}</p>
				<div className='flex justify-between items-end pt-5'>
					<p className='flex items-center'> 
						<StarIcon className='h-5 text-red-400'/>
						{star}
					</p>
					<p className='text-lg lg:text-2xl font-semibold pb-2'>{price}</p>
					<p className='text-lg lg:text-right font-extralight'>{total}</p>
				</div>
		   </div>
        </div>

</body>

</html>
